
# -------------------------------------------------------------------------- #
#             .gitignore darkjs - Copyright (c) 2017  Rye Miller             #
# -------------------------------------------------------------------------- #

!CHANGELOG.md
!CONTRIBUTING.md
!.gitattributes
!.gitignore
# .htaccess
!/LICENSE
!/README.md
!RELEASENOTES.md
!TODO.md

## JetBrains IDE (phpstorm) ##
/.idea/

# Includes content by explicitly telling git
# what files/dirs you want sourced (be careful)
!/.idea/copyright
!/.idea/inspectionProfiles
!/.idea/modules.xml
!/.idea/misc.xml
!/.idea/vagrant.xml

## File-based ##
*iml
.ipr
.iws

## Composer ##
composer.phar
/vendor/

## Vagrant ##
/.vagrant/

## Dropbox ##
.dropbox
.dropbox.attr
.dropbox.cache

## Logs and DB ##
*.sql
*.sqlite

## Node.js ##
*.css.map
/bower_components/
/.bower-cache
/.bower-registry
/.bower-tmp
/dist/
/deploy/
/.grunt
lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.env
/node_modules/
npm-debug.log
/.sass-cache/
/.sass-cache-imports/
/.tmp/

## Windows ##
Desktop.ini
ehthumbs.db
/$RECYCLE.BIN
Thumbs.db

## Linux ##
*~
# .*

## Mac OSX ##
._*
.AppleDouble
.DS_Store*
.DS_Store?
Icon
.LSOverride
.Spotlight-V100
.Trashes

## Default ignores ##
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.tgz
*.vi
*.zip
*~*

## Media ignores ##
*.pict
*.svg
*.gif
*.jpg
*.swf
*.fla
*.flv
*.psd
*.png
*.pdf
*.TTF
*.ttf
*.cdr

## Additional Excludes
