# -------------------------------------------------------------------------- #
#             .gitignore darkjs - Copyright (c) 2017  Rye Miller             #
# -------------------------------------------------------------------------- #
*.DS_Store
/.idea/

**/node_modules

/test/

**.eslintcache
**tailwind.output.css


/dev/exercises