# -------------------------------------------------------------------------- #
#             .gitignore darkjs - Copyright (c) 2022  Rye Miller             #
# -------------------------------------------------------------------------- #
*.DS_Store
/.idea/

**/node_modules

/packages/js*
/test/

**.eslintcache
**tailwind.output.css

**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*
