@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'fira_code';
    src: url('../fonts/firacode/firacode-retina-webfont.woff2') format('woff2'),
    url('../fonts/firacode/firacode-retina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#root {
    font-family: "Lobster";
}